{% extends "layout.html" %}

{% block title %}Vote Result{% endblock title %}

{% block content %}
<div>
	<p>Vote was received</p>
	<p>Fingerprint: {{ fingerprint.fingerprint }}</p>
	<p>Votes:</p>
	<ul>
		{% for vote in votes %}
			{% for candidate in candidates %}
				{% if candidate['id']|int == vote['id']|int %}
					<li>{{ candidate['email'] }} : {{ vote['ciphertext'] }}</li>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</ul>
	<a href="http://localhost:5000/election/?id={{ election_id }}">Return to Central Server</a>
</div>
{% endblock content %}